@import url(./config/global.css);

.hero .pagina-principal{
    display: grid;
    grid-template-areas: 
    "datos-usuario"
    "contenido";
    grid-template-rows: 15vh 80vh;
    padding: 1vw;
    background-color: var(--gris);
    row-gap: 2vw;
}

.hero .pagina-principal .datos-usuario{
    grid-area: datos-usuario;
    display: flex;
    border-radius: 0.5vw;
    background-color: var(--negro1);
    padding: 2vw;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.hero .pagina-principal .datos-usuario .izq .nombre p{
    color: var(--blanco);
}

.hero .pagina-principal .datos-usuario .der{
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
}

.datos-usuario .der .reportar i{
    color: white;
}

.datos-usuario .der .notificaciones i{
    color: white;
}

.datos-usuario .der .cerrar-sesion i{
    color: white;
}

.hero .pagina-principal .datos-usuario .izq .foto img{
    height: 8vh;
    width: auto;
}
.hero .pagina-principal .datos-usuario .med .imagen img{
    height: 10vh;
    width: auto;
}

.hero .pagina-principal .contenedor{
    grid-area: contenido;
    display: grid;
	grid-template-areas:
		"imagen textos";
	grid-template-rows: 15vh 50vh;
}

.contenedor .recordatorios {
	grid-area: textos;
	display: grid;
	grid-template-areas:
		"titulo botonesRecordatorio"
		"informacion informacion";
	column-gap: 5vw;
}

.recordatorios .titulo {
	grid-area: titulo;
}

.recordatorios .titulo h1{
	font-size: 2.3vw;
	color: var(negro1);
}


.recordatorios .informacion {
	grid-area: informacion;
	display: grid;
	row-gap: 2vw;
	overflow-y: auto;
}

.recordatorios .informacion .contenedor {
	display: grid;
	grid-template-areas:
		"fecha hora"
		"informacion dia";
	grid-template-rows: 7vh 10vh;
	column-gap: 2vw;
}

.recordatorios .informacion .informacion-hora,
.informacion-dia {
	display: grid;
	justify-content: center;
	align-items: center;
}

.recordatorios .informacion .informacion-fecha,
.informacion-recordatorio {
	padding: 0 1vw;
}

.recordatorios .informacion .informacion-fecha {
	grid-area: fecha;
	display: grid;
	align-items: center;
}

.recordatorios .informacion .informacion-recordatorio {
	grid-area: informacion;
}

.recordatorios .informacion .informacion-hora {
	border-left: 1px solid black;
	grid-area: hora;
}

.recordatorios .informacion .informacion-dia {
	border-left: 1px solid black;
	grid-area: dia;
	width: 10vw;
}

.recordatorios .informacion .informacion-fecha p {
	font-size: 1.6vw;
	font-weight: bold;
}

.recordatorios .informacion .informacion-recordatorio {
	width: 20vw;
}

.recordatorios .informacion .informacion-recordatorio p {
	font-size: 1.15vw;
}

.recordatorios .informacion .informacion-hora p {
	font-size: 2.2vw;
}

.recordatorios .informacion .informacion-dia p {
	font-size: 1.7vw;
}

.recordatorios .botones {
	grid-area: botonesRecordatorio;
	display: flex;
	column-gap: 1vw;
	align-items: center;
	justify-content: end;
}

.recordatorios .botones a {
	text-align: center;
	padding: 0.7vw 1vw;
	border-radius: 0.5vw;
	text-decoration: none;
	color: var(--negro);
	font-weight: bold;
	background-color: var(--anaranjado);
}

.recordatorios .botones a:hover {
	background-color: rgb(250, 156, 171);
}


.calendario {
	height: 70vh;
	width: 40vw;
	background: #fff;
	box-shadow: 0 5px 40px rgba(0, 0, 0, 0.12);
}

.calendario header {
	display: flex;
	align-items: center;
	padding: 2vh 2vw;
	justify-content: space-between;
}

header .icons {
	display: flex;
}

header .icons span {
	height: 6vh;
	width: 6vh;
	cursor: pointer;
	color: #878787;
	text-align: center;
	line-height: 6vh;
	font-size: 2vw;
	user-select: none;
	border-radius: 50%;
}

.icons span:last-child {
	margin-right: -10px;
}

header .icons span:hover {
	background: #f2f2f2;
}

header .current-date {
	font-size: 2vw;
	font-weight: 500;
}

.calendar {
	padding: 20px;
}

.calendar ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-align: center;
}

.calendar .days {
	margin-bottom: 20px;
}

.calendar li {
	color: #333;
	width: calc(100% / 7);
	font-size: 1.07rem;
}

.calendar .weeks li {
	font-weight: 500;
	cursor: default;
}

.calendar .days li {
	z-index: 1;
	cursor: pointer;
	position: relative;
	margin-top: 30px;
}

.days li.inactive {
	color: #aaa;
}

.days li.active {
	color: var(--negro);
	font-weight: 800;
}

.days li::before {
	position: absolute;
	content: "";
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	z-index: -1;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.days li.active::before {
	background: var(--anaranjado);
}

.days li:not(.active):hover::before {
	background: #f2f2f2;
}

.container {
    display: grid;
    grid-template-areas:
        "botones"
        "tabla"
        "paginacion";
}


.botones .boton-cantidad-datos-mostrar,
.boton-eliminar,
.boton-busqueda,
.boton-actualizar {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

.tabla-tickets {
    grid-area: tabla;
    overflow-x: auto;
}

.tabla-paginacion {
    grid-area: paginacion;
    display: grid;
    place-content: center;
}

.tabla-tickets .tabla__tickets {
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    height: 40vh;
	}

#tablaTickets {
    grid-area: tabla;
}

#tablaTickets {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

#tablaTickets th,
#tablaTickets td {
    padding: 0.5vw;
}

#tablaTickets th {
    background-color: var(--pink);
    font-weight: bold;
    text-transform: capitalize;
}

#tablaTickets tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Modal */
.modal {
	display: none;
	/* POr defecto no se muestran en pantalla hasta que se abran */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-contenido {
	display: grid;
	background-color: #fefefe;
	border-radius: 0.4vw;
	height: 90vh;
	width: 50vw;
	margin: 2% auto;
}

.modal .modal-contenido .modal-cabecera {
	display: grid;
	grid-template-areas: 
	"titulo boton"
	"descripcion descripcion";
    padding: 0.5vw 2vw;
	align-items: center;
	justify-content: space-between;
}

.btn-cerrar-modal {
	grid-area: boton;
	text-align: end;
	color: #aaa;
	font-size: 2.5vw;
	font-weight: bold;
}

.btn-cerrar-modal:hover,
.btn-cerrar-modal:focus {
	color: var(--anaranjado);
	text-decoration: none;
	cursor: pointer;
}

.modal .modal-contenido .modal-cuerpo {
	display: flex;
	column-gap: 2vw;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
	margin-left: 1vw;
}

.modal .modal-contenido .modal-cuerpo .campo-textarea textarea{
	width: 42vw;
	resize: none;
	height: 15vh;
}

.modal .modal-contenido .modal-cabecera p {
	padding: 1.5vw 1vw;
	text-align: start;
	grid-area: descripcion;
	color: #4e4e4e;
	font-size: 1.2vw;
	padding: 0 2vw;
}

.modal .modal-contenido .modal-cabecera h2 {
	grid-area: titulo;
	font-size: 5vh;
	text-align: start;
}

.modal .modal-contenido .modal-cuerpo {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	padding: 0 3vw;
	column-gap: 2vw;
}


.modal-pie {
	display: flex;
	justify-content: end;
	align-items: center;
}

.modal .modal-consultar .modal-cuerpo .campo .campo-id {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.combobox {
	width: 20vw;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=text],
input[type=date],
input[type=time],
select{
	background-color: var(--anaranjado);
	border: none;
	width: 20vw;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

.contenedor-triangulo{
	position: absolute;
}

.triangulo {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #e4e1e1;
	margin-left: 77vw;
	margin-top: 8vh;
  }

.modal-notificaciones {
	display: none;
	/* POr defecto no se muestran en pantalla hasta que se abran */
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-notificaciones .modal-contenido {
	display: grid;
	background-color: var(--gris);
	align-content: start;
	height: 70vh;
	width: 55vw;
	margin: 5% 30%;
	padding: 0;
}

.modal-notificaciones .modal-contenido .modal-cabecera{
	display: flex;
    height: 10vh;
	background-color: var(--gris);
    padding: 0.5vw 1vw;
    flex-direction: row-reverse;
    justify-content: space-between;
	align-items: center;
}

.modal-notificaciones .modal-contenido .modal-cabecera h2{
	font-size: 2vw;
	text-align: start;
}

.modal-notificaciones .modal-cuerpo{
	display: grid;
	row-gap: 1vw;
	align-content: start;
	padding: 1vw;
	overflow: auto;
}

.modal-notificaciones .modal-cuerpo .contenedor-notificaciones{
	display: grid;
	grid-template-areas: 
	"icono titulo fecha hora"
	"icono lugar lugar lugar";
	column-gap: 1vw;
	padding: 1vw;
	background-color: white;
	border-radius: 0.5vw;
}

.modal-notificaciones .modal-cuerpo .icono{
	grid-area: icono;
}

.modal-notificaciones .modal-cuerpo .titulo{
	grid-area: titulo;
}

.modal-notificaciones .modal-cuerpo .fecha{
	grid-area: fecha;
}

.modal-notificaciones .modal-cuerpo .fecha p, .hora p, .titulo p{
	font-weight: bold;
	font-size: 1vw;
}

.modal-notificaciones .modal-cuerpo .hora{
	grid-area: hora;
}

.modal-notificaciones .modal-cuerpo .lugar{
	grid-area: lugar;
}

.modal-notificaciones .modal-cuerpo .lugar p{
	font-size: 1vw;
}

@media only screen and (max-width: 600px) {

	.hero {
		display: grid;
		grid-template-areas:
			"menu"
			"pagina-principal";
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
	}

	/* CONTENIDO MENU */
	.menu {
		height: 20vh;
	}

	.menu-contenedor {
		display: grid;
		grid-template-areas:
			"titulo"
			"enlaces";
		margin: auto;
		row-gap: 0vh;
	}

	.menu-contenedor .menu-titulo .menu__titulo {
		font-size: 8vw;
	}

	.menu-contenedor .menu-lista .menu__item a {
		font-size: 5vw;
		margin-left: 3vw;
	}

	.pagina-principal {
		padding: 10vw 0;
	}

	.principal-grilla {
		display: grid;
		grid-template-areas:
			"textos"
			"imagen"
			"botones";
		grid-template-columns: 1fr;
		grid-template-rows: auto auto 10vh;
		row-gap: 5vh;
	}

	.principal__titulo {
		text-align: center;
		font-size: 18vw;
	}

	.principal__imagen {
		height: 35vh;
		width: auto;
	}

	.principal-botones {
		justify-content: center;
	}

	.principal-botones a {
		text-align: center;
		padding: 4vw;
		font-size: 4vw;
		border-radius: 0.5vw;
		text-decoration: none;
		color: var(--blanco);
		background-color: var(--pink);
	}

}