@import url(./config/global.css);

.contenedor .contenido {
    display: grid;
    grid-template-areas:
        "datos-doctor datos-doctor"
        "busqueda-paciente reportes"
        "busqueda-paciente recordatorios"
        "busqueda-paciente correo";
    grid-template-columns: 23vw auto;
    grid-template-rows: 15vh 35vh 40vh auto;
    row-gap: 2vw;
    column-gap: 2vw;
    padding: 1vw;
    background-color: var(--gris);
}

.contenedor .contenido .datos-doctor {
    display: flex;
    grid-area: datos-doctor;
    border-radius: 0.5vw;
    background-color: var(--negro1);
    padding: 2vw;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.contenedor .contenido .datos-doctor .izq .foto img {
    height: 8vh;
    width: auto;
}

.contenedor .contenido .datos-doctor .izq .nombre p {
    color: var(--blanco);
}

.contenedor .contenido .datos-doctor .der {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
}

.contenedor .contenido .datos-doctor .der .notificaciones i {
    color: white;
}

.contenedor .contenido .datos-doctor .der .cerrar-sesion i {
    color: white;
}

.contenedor .contenido .datos-doctor .med .imagen img {
    height: 10vh;
    width: auto;
}

/* BUSQUEDA PACIENTE */

.contenedor .contenido .busqueda-paciente {
    grid-area: busqueda-paciente;
    border-radius: 0.5vw;
    background-color: var(--blanco);
}

.contenedor .contenido .busqueda-paciente .cuadro-busqueda .busqueda input {
    width: 8vw;
    font-size: 1vw;
}

.contenedor .contenido .busqueda-paciente .cuadro-busqueda {
    display: flex;
    align-items: center;
    column-gap: 0.5vw;
    padding: 1vw;
}

.contenedor .contenido .busqueda-paciente .boton-buscar {
    display: flex;
    flex-direction: row;
    column-gap: 0;

}

.contenedor .contenido .busqueda-paciente .boton-buscar button {
    margin: 0.3vw;
}

/* RESULTADO BUSQUEDA */

.contenedor .contenido .resultado-busqueda {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor .contenido .resultado-busqueda .datos-usuario {
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    text-align: center;
    font-size: 1vw;
}

.contenedor .contenido .resultado-busqueda .datos-usuario .campo .titulo {
    font-size: 1.2vw;
}

.contenedor .contenido .resultado-busqueda .datos-usuario .campo .texto {
    color: var(--gris2);
}

.contenedor .contenido .resultado-busqueda .foto-usuario img {
    height: 20vh;
    width: auto;
}

.contenedor .contenido .busqueda-paciente .cuadro-busqueda .titulo {
    font-size: 1vw;
}

/* REPORTES */

.contenedor .contenido .reportes-paciente {
    grid-area: reportes;
    background-color: var(--blanco);
    border-radius: 0.5vw;
    padding: 1vw;
    overflow: auto;
}

/* RECORDATORIOS */

.contenedor .contenido .recordatorios-paciente {
    grid-area: recordatorios;
    background-color: var(--blanco);
    border-radius: 0.5vw;
    padding: 1vw;
    overflow: auto;
}

button {
    padding: 1vw;
}

.contenedor .contenido .recordatorios-paciente .contenedor {
    display: flex;
    padding: 1vw;
    flex-wrap: wrap;
    row-gap: 2vw;
}

.contenedor .contenido .recordatorios-paciente .contenedor .recordatorio {
    display: flex;
    column-gap: 2vw;
    row-gap: 2vw;
}

/* CORREO */

.contenedor .contenido .redactar-correo {
    grid-area: correo;
    background-color: var(--blanco);
    border-radius: 0.5vw;
    padding: 1vw;
}

.contenedor .contenido .recordatorios-paciente,
.reportes-paciente .titulo-cuadro p {
    font-size: 1.5vw;
}

.contenedor .contenido .redactar-correo .contenedor {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5vw;
    padding: 2vw;
    align-items: center;
}

.contenedor .contenido .redactar-correo .contenedor .destinario {
    grid-area: destinario;
}

.contenedor .contenido .redactar-correo .contenedor .asunto {
    grid-area: asunto;
}

.contenedor .contenido .redactar-correo .contenedor .texto-correo {
    grid-area: correo;
}

.contenedor .contenido .redactar-correo .contenedor .botones {
    grid-area: boton;
}

.contenedor .contenido .redactar-correo .contenedor .texto-correo .texto textarea {
    resize: none;
    width: 35vw;
    height: 12vh;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}

table {
    grid-area: tabla;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

th,
td {
    padding: 0.5vw;
    text-align: center;
    font-size: 1vw;
}
th {
    background-color: var(--pink);
    font-weight: bold;
    text-transform: capitalize;
}

tr{
    background-color: #f9f9f9;
}

.contenedor-triangulo {
    position: absolute;
}

.triangulo {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid var(--gris);
    margin-left: 89.45vw;
    margin-top: 11vh;
}

.modal-notificaciones {
    display: none;
    /* POr defecto no se muestran en pantalla hasta que se abran */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-notificaciones .modal-contenido {
    display: grid;
    background-color: var(--gris);
    align-content: start;
    height: 70vh;
    width: 55vw;
    margin: 6.5% 40%;
    padding: 0;
}

.modal-notificaciones .modal-contenido .modal-cabecera {
    display: flex;
    height: 10vh;
    background-color: var(--gris);
    padding: 0.5vw 1vw;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.modal-notificaciones .modal-contenido .modal-cabecera h2 {
    font-size: 2vw;
    text-align: start;
}

.modal-notificaciones .modal-cuerpo {
    display: grid;
    row-gap: 1vw;
    align-content: start;
    padding: 1vw;
    overflow: auto;
}

.modal-notificaciones .modal-cuerpo .contenedor-notificaciones {
    display: grid;
    grid-template-areas:
        "icono titulo fecha hora"
        "icono lugar lugar lugar";
    column-gap: 1vw;
    padding: 1vw;
    background-color: white;
    border-radius: 0.5vw;
}

.modal-notificaciones .modal-cuerpo .icono {
    grid-area: icono;
}

.modal-notificaciones .modal-cuerpo .titulo {
    grid-area: titulo;
}

.modal-notificaciones .modal-cuerpo .fecha {
    grid-area: fecha;
}

.modal-notificaciones .modal-cuerpo .fecha p,
.hora p,
.titulo p {
    font-weight: bold;
    font-size: 1vw;
}

.modal-notificaciones .modal-cuerpo .hora {
    grid-area: hora;
}

.modal-notificaciones .modal-cuerpo .lugar {
    grid-area: lugar;
}

.modal-notificaciones .modal-cuerpo .lugar p {
    font-size: 1vw;
}