@import url(normalice.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

a {
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
}

:root {
    /*--blanco: rgb(255, 255, 255);*/
    --blanco: white;
    --negro: #272848;
    --negro1: rgb(30, 30, 30);
    --grisClaro: rgb(108, 108, 108);
    --azul: #54C1FB;
    --azulado: #6d71f9;
    --gris: #EFF0F8;
    --cristal: #FFFFFF;
    --anaranjado: #FFBD59;
    --gris2: #888888;

}

.btn {
    margin-left: 1vw;
    padding: 0.7vw 3vw;
    border: 0;
    border-radius: 0.1875em;
    background-color: #7066e0;
    box-shadow: none;
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    white-space: nowrap;
    cursor: pointer;
}

input[type=text],
input[type=date],
input[type=time],
input[type=email],
input[type=password],
input[type=phone],
select {
    width: 20vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button{
    margin-right: 3.1vw;
	background-color: var(--anaranjado);
	padding: 0.5vw 3vw;
	border-radius: 0.5vw;
	font-weight: bold;
	cursor: pointer;
}